body {
    font-family: Tahoma, sans-serif;
    font-size: 112.5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    width: 80%;
    background-image: url("bg.jpeg");
    color: #89dfff;
    text-align: center;
}  
h1 {
  font-family: Algerian, cursive, Tahoma;
  font-style: oblique;
  text-align: center;
}

p {
  font-weight: bold;
  color: #f21810;
}
/*
 * Form Styles
 */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

#login, #signup{
    background-color: #005580;
    color: #ffffff;
    text-decoration: none;
}

.error {
    background-color: #e2262c;
}
.valid {
    background-color: #62f442;
}
.error-message {
    color: red;
    font-style: italic;
    margin-bottom: 1em;
}
